@import "./reset";
@import "./init";
@import "./base";

// components
.stick{
  width: 100%;
  height: 30px;
  background: $sendColor;
}







// pages
@import "./pages/Top";


//util
@import "./util";
