:root {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: $mainFontFamily;
  color: $textBaseColor;
  background-color: $bgBaseColor;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
  @include media(){
    font-size: 1.6rem;
  }
}

*{
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;

  transition: $transitionBasis;

  &:hover {
      opacity: .8;
      text-decoration: underline;
  }
}

img {
  max-width: 100%;
  vertical-align: top;
}

input,
textarea,
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
}
textarea{
  resize: vertical;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
input[type=checkbox], input[type=radio]{
  &:checked{
    // iOSでchekedの状態だと背景が黒くなるので解消
    background: transparent;
  }
}
