:root {
  font-size: 62.5%;
}
@font-face {
  font-family: 'makiba';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/makibafontp13.ttf') format('truetype');
}
body {
  font-size: 1.8rem;
  font-family: $mainFontFamily;
  color: $textBaseColor;
  background-color: $bgBaseColor;
  -webkit-text-size-adjust: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  @include media(){
    font-size: 1.6rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // iOSでリンクやボタンをクリックしたときに背景が青くハイライトするのを消去
  -webkit-tap-highlight-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;

  transition: $transitionBasis;

  &:hover {
      opacity: .8;
      text-decoration: underline;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
textarea,
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
}
textarea{
  resize: vertical;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
input[type=checkbox], input[type=radio]{
  &:checked{
    // iOSでchekedの状態だと背景が黒くなるので解消
    background: transparent;
  }
}

th,td{
  vertical-align: middle;
}

::-webkit-scrollbar{
  width: 8px;
  background: transparent;
}
::-webkit-scrollbar-track{
  background: transparent;
  border-left: 0;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px transparent;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes fadeout {
  0% { opacity: 1; }
  67% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadein {
  0% { opacity: 0; }
  67% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes phrasein {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  67% { opacity: 0; }
  100% {
    transform: none;
    opacity: 1;
  }
}
