// margin
.u-mt5 {
  margin-top: 5px;
}
.u-mt10 {
  margin-top: 10px;
}
.u-mt15 {
  margin-top: 15px;
}
.u-mt20 {
  margin-top: 20px;
}
.u-mt50 {
  margin-top: 50px;
}
.u-mr5 {
  margin-right: 5px;
}
.u-mr10 {
  margin-right: 10px;
}
.u-mr15 {
  margin-right: 15px;
}
.u-mr20 {
  margin-right: 20px;
}
.u-mb5 {
  margin-bottom: 5px;
}
.u-mb10 {
  margin-bottom: 10px;
}
.u-mb15 {
  margin-bottom: 15px;
}
.u-mb20 {
  margin-bottom: 20px;
}
.u-mb30 {
  margin-bottom: 30px;
}
.u-mb40 {
  margin-bottom: 40px;
}
.u-mb50 {
  margin-bottom: 50px;
}
.u-mb60 {
  margin-bottom: 60px;
}
.u-mb70 {
  margin-bottom: 70px;
}
.u-mb80 {
  margin-bottom: 80px;
}
.u-mb90 {
  margin-bottom: 90px;
}
.u-mb100 {
  margin-bottom: 100px;
}
.u-mb110 {
  margin-bottom: 110px;
}
.u-mb120 {
  margin-bottom: 120px;
}
.u-mb130 {
  margin-bottom: 130px;
}
.u-mb140 {
  margin-bottom: 140px;
}
.u-ml5 {
  margin-left: 5px;
}
.u-ml10 {
  margin-left: 10px;
}
.u-ml15 {
  margin-left: 15px;
}
.u-ml20 {
  margin-left: 20px;
}
.u-mx5{
  margin: 0 5px;
}
.u-ma5{
  margin: 5px;
}

// padding
.u-pt10 {
  padding-top: 10px;
}
.u-pt20 {
  padding-top: 20px;
}
.u-pt30 {
  padding-top: 30px;
}
.u-pb10 {
  padding-bottom: 10px;
}
.u-pb20 {
  padding-bottom: 20px;
}
.u-pb30 {
  padding-bottom: 30px;
}
.u-pl10 {
  padding-left: 10px;
}
.u-pl20 {
  padding-left: 20px;
}
.u-pl30 {
  padding-left: 30px;
}
.u-pr10 {
  padding-right: 10px;
}
.u-pr20 {
  padding-right: 20px;
}
.u-pr30 {
  padding-right: 30px;
}
.u-px10{
  padding: 0 10px;
}
.u-px20{
  padding: 0 20px;
}
.u-py10{
  padding: 10px 0;
}
.u-py20{
  padding: 20px 0;
}
.u-py40{
  padding: 40px 0;
}
.u-pa10{
  padding: 10px;
}
.u-pa20{
  padding: 20px;
}

// font
.u-fontMedium {
  font-weight: 500;
}
.u-fontBold {
  font-weight: bold;
}

// align
.u-alignLeft {
  text-align: left;
}
.u-alignCenter {
  text-align: center;
}
.u-alignRight {
  text-align: right;
}
.u-h20{
  height: 20px;
}
// width
.u-minWidth300 {
  min-width: 300px;
}

.u-bgBlue{
  background: $customersBg;
}
.u-bgGray{
  background: $customerDetailBg;
}

// opacity
.u-op5{
  opacity: 0.5;
}
.u-op7{
  opacity: 0.7;
}
.u-icon{
  width: 18px;
}

.u-tip{
  &::after {
    content: attr(data-desc);
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: $white;
    background: $deepGray;
    padding: 8px;
    border-radius: 5px;
    min-width: 100px;
    opacity: 0;
    pointer-events: none;
    transition: $transitionBasis;
  }
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: calc(50% + 5px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 0 0;
    border-color: $deepGray transparent transparent transparent;
    transform: translateY(-100%);
    color: $white;
    opacity: 0;
    pointer-events: none;
    transition: $transitionBasis;
  }
  &:hover {
    &::before, &::after{
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.u-tip-bottom{
  &::after {
    content: attr(data-desc);
    position: absolute;
    bottom: -100%;
    left: 50%;
    right: -50%;
    display: block;
    transform: translateY(50%);
    font-size: 1rem;
    color: $white;
    background: $deepGray;
    padding: 5px 8px;
    border-radius: 5px;
    min-width: 80px;
    line-height: 1.2;
    opacity: 0;
    pointer-events: none;
    transition: $transitionBasis;
  }
  &::before{
    content: '';
    position: absolute;
    bottom: -100%;
    left: calc(50% + 5px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 0;
    border-color: transparent transparent $deepGray transparent;
    transform: translateY(-100%);
    color: $white;
    opacity: 0;
    pointer-events: none;
    transition: $transitionBasis;
  }
  &:hover {
    &::after, &::before{
      opacity: 1;
      pointer-events: initial;
    }
  }
}

// clearfix
.u-clearfix {
  @include clearfix;
}


// others
.u-inline-block {
  display: inline-block;
}
