.AuthNav{
  position: relative;
  .AuthNav_toggle{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: $gray-3;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-right: 33px;
    cursor: pointer;
  }
  .AuthNav_menu{
    background: $deepGray;
    color: $white;
    font-size: 1.3rem;
    position: absolute;
    top: 42px;
    right: 0;
    white-space: nowrap;
    transition: .15s;
    -webkit-transition: .15s;
    transform-origin: calc(100% - 50px) top;
    transform: scale3d(0,0,1);
    min-width: 130px;
    text-align: center;
    padding-bottom: 5px;
    &::after{
      content: '';
      position: absolute;
      top: -20px;
      right: 40px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 5px 10px 5px;
      border-color: transparent transparent $deepGray transparent;
      transform: translateX(-50%);
      pointer-events: none;
    }

  }
  .AuthNav_item{
    cursor: pointer;
    transition: $transitionBasis;
    text-align: left;
    @include iconFix(10px, 65px, 43px, 1.4rem);

    &:hover{
      background-color: $gray-2;
    }

    &.--title{
      cursor: initial;
      width: 200px;
      padding: 10px 15px;
      white-space: normal;
      line-height: 1.5;
      &:hover{
        background: transparent;
      }
    }

    &.--hasNote{
      display: flex;
      align-items: center;
      &::after{
        content: '';
        display: inline-block;
        margin-left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 9999px;
        background: $shadowPink;
      }
    }
    .AuthNav_menuTitle{
      display: block;
      padding: 10px 5px 15px;
      border-bottom: 1px solid $gray-3;
    }

  }

  &.--open{
    .AuthNav_menu{
      transform: none;
    }
  }

}
