.AuthNav{
  position: relative;
  .AuthNav_toggle{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: $gray-3;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-right: 33px;
    cursor: pointer;
  }
  .AuthNav_menu{
    background: $deepGray;
    color: $white;
    font-size: 1.3rem;
    position: absolute;
    top: 42px;
    right: 0;
    white-space: nowrap;
    transition: .15s;
    transform-origin: center top;
    transform: scale3d(0,0,1);
    width: 130px;
    text-align: center;
    &::after{
      content: '';
      position: absolute;
      top: -20px;
      right: 40px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 5px 10px 5px;
      border-color: transparent transparent $deepGray transparent;
      transform: translateX(-50%);
    }

  }
  .AuthNav_item{
    padding: 10px 12px;
    cursor: pointer;
    transition: $transitionBasis;

    &:hover{
      background: $gray-2;
    }
  }

  &.--open{
    .AuthNav_menu{
      transform: none;
    }
  }

}
