.BaseTitle{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  &.--vertical{
    align-items: center;
  }
  .BaseTitle_text{
    display: inline-block;
    font-weight: bold;
    padding: 10px 35px 10px 55px;
    border-bottom: 2px solid $orange;
    background-size: 25px;
    line-height: 1.35;
    background-repeat: no-repeat;
    background-position: 15px;
    flex-shrink: 0;

    &.--work{
      background-image: url(#{$assetPath}/icon-shop2-nav.svg);
    }
    &.--customer{
      background-image: url(#{$assetPath}/icon-office-nav.svg);
    }
    &.--review{
      background-image: url(#{$assetPath}/icon-no-user-thumb.svg);
    }
    &.--report{
      background-image: url(#{$assetPath}/icon-report.svg);
    }
    &.--profile{
      background-image: url(#{$assetPath}/icon-profile.svg);
    }
    &.--scout{
      background-image: url(#{$assetPath}/icon-scout-simple.svg);
    }
    &.--match{
      background-image: url(#{$assetPath}/icon-match.svg);
    }
    &.--favorite{
      background-image: url(#{$assetPath}/icon-favorite.svg);
    }
    &.--apply{
      background-image: url(#{$assetPath}/icon-postBox.svg);
    }
  }
  .BaseTitle_button{
    flex-grow: 1;
    padding-right: 20px;
    text-align: right;
  }

  @include media(sm){
    flex-direction: column;
    align-items: flex-start;

    .BaseTitle_button{
      text-align: center;
      padding-right: 0;
      margin-top: 30px;
      width: 100%;
    }
  }

  &.--center{
    justify-content: center;
  }
  &.--intro{
    justify-content: center;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    transition-delay: 0.4s;
    &.--visible{
      opacity: 1;
    }
    .BaseTitle_text{
      padding: 20px 35px 15px 85px;
      background-image: url(#{$assetPath}/icon-kaba.svg);
      background-size: 60px;
      background-repeat: no-repeat;
      background-position: 10px calc(50% - 5px);
      font-size: 3rem;

      @include media(){
        font-size: 2rem;
        background-size: 40px;
        padding: 20px 35px 15px 60px;
      }
    }
    @include media(sm){
      flex-direction: row;
    }
  }
}
