.Button{
    border-radius: 9999px;
    color: $white;
    display: inline-block;
    min-width: $buttonMinWidth;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 10px 12px;
    text-align: center;
    transition: $transitionBasis;
    background: $paleGreen;

    &:focus{
      outline: none;
    }

    &:hover{
        opacity: 0.8;
    }

    &.--pink{
        background: $pink;
    }
    &.--blue{
        background: $paleBlue;
    }
    &.--yellowGreen{
        background: $yellowGreen;
    }
    &.--danger{
        background: $redPink;
    }
    &.--orange{
      background: $orange;
    }
    &.--flex{
        width: 100%;
        max-width: 240px;
    }
    &.--fixed{
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      width: 280px;
      z-index: $modalZIndex - 1;
    }

    &.--small{
      font-size: 1.4rem;
      padding: 8px 10px;
      min-width: initial;
    }
    &.--minimum{
      font-size: 1.2rem;
      border-radius: 6px;
      padding: 5px 10px;
      min-width: initial;
    }
    &.--large{
      font-weight: bold;
      padding: 12px 16px;
      font-size: 1.8rem;
    }
    &.--secondary{
      background: $gray-2;
    }
    &.--send{
      padding: 8px 10px;
      min-width: initial;
      border-radius: 0;
      font-size: 1.2rem;
    }
    &.--hasShadow{
      min-width: initial;
      padding: 8px 12px;
      border-radius: 10px;
      box-shadow: 0 4px 0 $deepGreen;
      transition: none;
      &.--pink{
        box-shadow: 0 4px 0 $shadowPink;
      }
      &.--blue{
        box-shadow: 0 4px 0 $shadowBlue;
      }
      &:active{
          box-shadow: none;
          position: relative;
          top: 4px;
      }
    }

    &.--close{
      background-image: url(#{$assetPath}/icon-close-white.svg);
      background-size: 18px;
      background-position: center;
      background-repeat: no-repeat;
      min-width: initial;
      width: 35px;
      height: 35px;
      border: 2px solid $white;
      background-color: $black;
    }
    &.--review{
      min-width: initial;
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1;
      padding: 7px 0;
      background-color: $orange;
    }

    &.--disable{
      pointer-events: none;
      opacity: 0.4;
    }

    &.--neutral{
        background: #bdbdbd;
    }

    &.--pager{
        background: $white;
        color: gray;
        border-radius: 6px;
        border: 1px solid gray;
        min-width: initial;
        &:hover{
            opacity: 0.6;
        }

        &.--prev{
            float: left;
        }

        &.--next{
            float: right;
        }
    }

}
