.Checkbox{
  input[type=checkbox]{
    width: 20px;
    height: 20px;
    border: 2px solid $gray;
    vertical-align: top;
    cursor: pointer;
    position: relative;
    &[data-label='弁護士']{
      color: $lawyerColor;
      border-color: $lawyerColor;
    }
    &[data-label='司法書士']{
      color: $judicialScrivenerColor;
      border-color: $judicialScrivenerColor;
    }
    &[data-label='行政書士']{
      color: $notaryScrivenerColor;
      border-color: $notaryScrivenerColor;
    }
    &[data-label='税理士']{
      color: $taxAccountantColor;
      border-color: $taxAccountantColor;
    }
    &::after{
      content: attr(data-label);
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translateY(-50%);
      word-break: keep-all;
    }
    &:checked{
      position: relative;
      &::before{
        position: absolute;
        top: -5px;
        left: 0;
        content: '\0221A';
        font-size: 24px;
        font-weight: bold;
        color: inherit;
      }
    }
  }

  &.--tag{
    input[type=checkbox] {
      border: 0;
      width: initial;
      height: initial;
      &:hover{
        + .Checkbox_label {
          background: $green;
          color: $white;
        }
      }
      &:checked{
        + .Checkbox_label {
          background: $green;
          color: $white;
        }
        &::before{
          content: '';
          width: 0;
          height: 0;
          font-size: 0;
        }
      }
    }
    label {
      display: inline-block;
      transition: $transitionBasis;
      border: 2px solid $green;
      color: $green;
      font-size: 1.2rem;
      text-align: center;
      padding: 5px 8px;
    }
  }
}
