.CustomerListLayout{
  .CustomerList_list{
    display: flex;
    flex-wrap: wrap;
    .CustomerList_item{
      margin: 20px 10px;
      width: 100%;
      min-width: 230px;
      max-width: calc((100% / 4) - 20px);
      flex-grow: 1;
      @include media(lg){
        max-width: calc((100% / 3) - 20px);
      }
      @include media(){
        max-width: calc((100% / 2) - 20px);
      }
      @include media(sm-y){
        max-width: calc((100% / 2) - 20px);
      }
      @include media(sm) {
        max-width: 300px;
        margin: 20px auto;
      }
    }
  }

}
