.GlobalNav{
  z-index: 1;
  .GlobalNav_toggle{
    display: none;
  }

  .GlobalNav_menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .GlobalNav_item{
      cursor: pointer;
      flex-grow: 1;
      width: 100%;
      max-width: 140px;
      transition: $transitionBasis;
      text-align: center;
      font-size: 1.3rem;
      padding: 15px 10px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        color: $gray-2;
        .GlobalNav_children{
          color: $black;
        }
      }
      &.--current{
        color: $orange;
        font-weight: bold;
        pointer-events: none;
      }
      &.--u-md{
        display: none;
      }
      .GlobalNav_itemText{
        padding: 5px 0 5px 25px;
        background-position: 0;
        background-size: 20px;
        background-repeat: no-repeat;
      }
      .GlobalNav_childrenToggle{
        display: none;
        @include media(){
          display: inline-block;
        }
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &::after{
          content: '';
          position: absolute;
          top: 50%;
          right: 50px;
          width: 20px;
          height: 20px;
          background-size: cover;
          background-position: center;
          background-image: url(#{$assetPath}/icon-toggle-no-border.svg);
          transform-origin: center;
          transform: translateY(-50%);
          transition: transform $transitionBasis;
          -webkit-transition: -webkit-transform $transitionBasis;
        }
        &.--open{
          &::after{
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      .GlobalNav_children{
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background: $white;
        font-size: 1.4rem;
        transition: $transitionBasis;
        -webkit-transition: $transitionBasis;
        transform-origin: center top;
        transform: scale3d(1, 0, 1);
        z-index: 1;
        &.--show{
          transform: none;
        }

        .GlobalNav_childrenItem{
          padding: 10px;
          text-align: center;
          transition: $transitionBasis;
          &:hover{
            color: $gray !important;
          }
        }
      }
    }
  }

  @include media(){
    .GlobalNav_toggle{
      position: fixed;
      top: 5px;
      right: 5px;
      display: inline-block;
      padding: 5px;
      align-self: flex-end;
      cursor: pointer;
      z-index: 1;
      .Globalnav_toggleLine{
        transform-origin: center;
        transition: $transitionBasis;
        display: block;
        width: 25px;
        border-top: 1px solid $gray;
        margin: 8px 5px;
      }
      &.--open {
        .Globalnav_toggleLine {
          &.--first {
            transform: translateY(9px) rotate(45deg);
          }
          &.--second {
            opacity: 0;
          }
          &.--third {
            transform: translateY(-9px) rotate(-45deg);
          }
        }
      }
    }

    .GlobalNav_menu{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      background: $gray-5;
      flex-direction: column;
      padding: 30px 10px 0;
      width: 100%;
      transform: translateX(100%);
      pointer-events: none;
      transition: $transitionBasis;
      height: 100%;
      justify-content: flex-start;
      .GlobalNav_item{
        padding: 15px 10px;
        max-width: initial;
        border-bottom: 1px solid $gray-2;
        flex-grow: 0;
        &.--u-md{
          display: initial;
        }
      }

      &.--open{
        transform: none;
        pointer-events: initial;
      }
    }
  }
}
