  .HorizontalLayout{
    display: flex;
    align-items: flex-start;
    width: 100%;
    .HorizontalLayout_col{
      flex-shrink: 0;

      &.--flex{
        flex-grow: 1;
        flex-shrink: 1;
      }

      &.--equal{
        width: 100%;
        flex-grow: 1;
        flex-shrink: 1;
      }
    }

    &.--vertical{
      align-items: center;
    }
    &.--stretch{
      align-items: stretch;
    }

    &.--justifyCenter{
      justify-content: center;
    }
    &.--justifyEnd{
      justify-content: flex-end;
    }

    &.--wrap{
      flex-wrap: wrap;
    }
  }
