.MainLayout{
  padding: 40px 60px;
  background: $customerDetailBg;

  @include media(lg){
    padding: 40px 10px;
  }
  @include media(){
    padding: 20px;
  }
  @include media(sm){
    padding: 10px;
  }

  .MainLayout_heading{
    max-width: $baseWidth;
    margin: 0 auto;
  }
  .MainLayout_boxList{
    max-width: $baseWidth;
    margin: 0 auto;
  }
  .MainLayout_box{
    background: $gray-5;
    border-radius: 6px;
    padding: 20px;

    &:not(:first-of-type){
      margin-top: 30px;
    }

    @include media(){
      padding: 40px 20px;
    }
    @include media(sm){
      padding: 30px 10px;
      margin: 15px 10px;
    }
  }

  &.--customers{
    background: $customersBg;
    .MainLayout_box{
      background: inherit;
    }
  }
  &.--login{
    background: $gray-5;
  }
  &.--signup{
    .MainLayout_box {
      background: inherit;
    }
  }
  &.--hasWorks{
    .MainLayout_box{
      background: inherit;
    }
  }
}
