.MainLayout{
  padding: 40px 60px;

  @include media(lg){
    padding: 40px;
  }
  @include media(){
    padding: 20px;
  }
  @include media(sm){
    padding: 10px;
  }

  .MainLayout_heading{
    max-width: $baseWidth;
    margin: 0 auto;
  }
  .MainLayout_boxList{
    max-width: $baseWidth;
    margin: 0 auto;
  }

  &.--customers{
    background: $customersBg;
  }
  &.--customerDetail{
    background: $customerDetailBg;
  }
}
