.MainContent{
  flex-grow: 1;

  .MainContent_heading{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MainContent_title{
    display: block;
    .MainContent_titleText{
      display: inline-block;
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
}
