.MainVisual{
  overflow: hidden;
  position: relative;
}
.MainVisual_cover{
  @include cover();
  background: $black;
  opacity: 0.45;
  z-index: 1;
}
.MainVisual_panel{
  @include cover();
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fuwa 16s linear infinite;
}
.MainVisual_phrase{
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 0;
  @include phrasein();
  animation-delay: #{$pageMaskDurarion}s;
  font-family: 'makiba', $mainFontFamily;
  z-index: 2;
  font-size: 8rem;
  color: $white;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: $transitionBasis;
  -webkit-transition: $transitionBasis;
  @include media(lg){
    font-size: 7rem;
  }
  @include media(){
    font-size: 5rem;
  }
  @include media(sm){
    bottom: initial;
    top: 5%;
    left: 0;
    font-size: 3.2rem;
    padding: 15px;
  }
}
.MainVisual_scrollBtn{
  @include scrollNote();
  animation-delay: #{$pageMaskDurarion + 1}s;
  display: block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 12px;
  font-size: 2rem;
  font-weight: bold;
  z-index: 2;
  border-radius: 9999px;
  background: $white;
  border: 2px solid transparent;
  cursor: pointer;
  transition: $transitionBasis;
  -webkit-transition: $transitionBasis;
  opacity: 0;

  &:hover{
    background: transparent;
    border-color: $white;
    color: $white;
  }
}
