.MainContent{
  flex-grow: 1;

  .MainContent_heading{
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 0 60px;

    @include media(lg){
      padding: 0 10px;
    }
    @include media(){
      padding: 0 20px;
    }
    @include media(sm){
      padding: 0 10px;
    }
  }

  .MainContent_title{
    display: block;
    .MainContent_titleText{
      display: inline-block;
      font-weight: bold;
      font-size: 1.8rem;
    }
  }
}
