.MainContent{
  flex-grow: 1;
  background: $customerDetailBg;
  &.--customers{
    background: $customersBg;
  }
  &.--mypage{
    background: $white;
  }

  .MainContent_heading{
    margin: 30px 0 0 80px;
    display: flex;
    align-items: center;
    @include media(lg){
      margin-left: 10px;
    }
    @include media(){
      margin-left: 40px;
    }
    @include media(sm){
      margin-left: 20px;
    }
  }

  .MainContent_title{
    display: inline-block;
    color: $white;
    font-size: 1.4rem;
    border-radius: 0 9999px 9999px 0 / 0 9999px 9999px 0;
    @include iconFix(8px, 35px, 10px, 20px);
    background-color: $green;
    background-image: url(#{$assetPath}/icon-glass-white.svg);
  }
}
