.PageContent{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .PageContent_layout{
    &.--flex{
      flex-grow: 1;
      display: flex;
      width: 100%;
      max-width: 1380px;
      margin: 0 auto;
      position: relative;
    }
  }
}
