
.Pager{
  .Pager_links{
    display: flex;
  }

  .Pager_link{
    background: $white;
    color: $green;
    padding: 10px 12px;
    border: 2px solid $green;
    border-radius: 9999px;
    margin: 3px 5px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;

    &:first-of-type,
    &:last-of-type{
      padding: 10px 13px;
    }

    &.--current{
      background: $green;
      color: $white;
      border-color: $green;
      pointer-events: none;
    }

    &:hover{
      background: $green;
      color: $white;
      border-color: $green;
    }

    &.--edge{
      pointer-events: none;
      color: $gray-2;
      border-color: $gray-2;
    }
  }

}
