.PageContent{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $customerDetailBg;
  &.--customers{
    background: $customersBg;
  }
  &.--mypage{
    background: $white;
  }

  .PageContent_layout{
    &.--flex{
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1380px;
      margin: 0 auto;
      position: relative;
    }
  }
}
