.ResultMessage{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $modalZIndex;
  background: $deepGreen;
  transition: $transitionBasis;

  .ResultMessage_text{
    padding: 20px 0;
    text-align: center;
    color: $white;
    font-size: 2rem;
    font-weight: bold;

    @include media(){
      padding: 12px 0;
      font-size: 1.6rem;
    }
  }

  &.--hidden{
    opacity: 0;
    pointer-events: none;
  }

  &.--delete{
    background: $redPink;
  }
}
