.ReviewFormLayout{
  .ReviewFormLayout_workInfo{
    font-size: 1.4rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    color: $gray;
    position: relative;
    z-index: 1;
  }
  .ReviewFormLayout_form{
    max-width: 90%;
    margin: 0 auto;
  }
  .ReviewFormLayout_workHeading{
    text-align: center;
    padding: 10px;
  }
  .ReviewFormLayout_workThumb{
    width: 100%;
  }
  .ReviewFormLayout_workMain{
    transition: transform $transitionBasis;
    -webkit-transition: -webkit-transform $transitionBasis;
    transform-origin: center top;
    transform: translateX(-50%);
    position: absolute;
    top: 42px;
    left: 50%;
    width: 90%;
    background: white;
    border: 1px solid $gray-3;
    padding: 10px;

    &::before{
      content: '';
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-width: 12px;
      border-style: solid;
      border-color: transparent transparent $gray-3 transparent;
    }
    &::after{
      content: '';
      position: absolute;
      top: -22px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-width: 11px 12px 12px 12px;
      border-style: solid;
      border-color: transparent transparent $white transparent;
    }

    .ReviewFormLayout_workItem{
      padding: 10px;
      text-align: left;
      white-space: pre-line;
    }
    &.--hidden{
      font-size: 0;
      transform: translateX(-50%) scale3d(1, 0, 1);
    }
  }
  .ReviewFormLayout_toggle{
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(#{$assetPath}/icon-toggle-no-border.svg);
      transform-origin: center;
      transition: transform $transitionBasis;
      -webkit-transition: -webkit-transform $transitionBasis;
    }
    &.--open{
      &::after{
        transform: rotate(180deg);
      }
    }
  }
}
