.ReviewForm{
  width: 200px;
  margin: 0 auto;
  position: relative;
  .ReviewForm_button.--remove{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .ReviewForm_button.--add{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

}
