.ScoutList{
  padding: 30px 20px;
  border-radius: 6px;
  font-size: 1.4rem;
  @include media(sm-y){
    padding: 15px;
  }
  .ScoutList_item{
    padding: 10px 0;
    border-bottom: 1px solid $gray-2;
  }
  .ScoutList_scoutInfo{
    display: flex;
    align-items: center;
    padding: 10px 40px 0 40px;

    .ScoutList_scoutThumb{
      width: 60px;
      height: 60px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
    }

    .ScoutList_workLink{
      flex-grow: 1;
      color: $blue;
      cursor: pointer;
      font-weight: bold;
      transition: $transitionBasis;
      font-size: 1.4rem;
      &:hover{
        opacity: 0.7;
      }
    }

  }
  .ScoutList_targetInfo{
    padding-left: 10px;
  }
  .ScoutList_text{
    color: $paleBlue;
  }

  .ScoutListitem:hover{
    .ScoutList_text{
      text-decoration: underline;
    }
  }
}
