.ScoutList{
  padding: 30px 20px;
  border-radius: 6px;
  font-size: 1.4rem;
  @include media(sm-y){
    padding: 15px 5px;
  }
  .ScoutList_item{
    padding: 10px 0;
    border-bottom: 1px solid $gray-2;

    &.--isNew{
      background: $lightPink;
      position: relative;
      &::after{
        content: 'NEW!';
        color: $red;
        font-size: 2rem;
        font-weight: bold;
        position: absolute;
        top: 5px;
        right: 5px;
        font-family: 'makiba', $mainFontFamily;
      }
    }

    @include media(sm){
      padding: 10px;
    }
  }

  .ScoutList_targetInfo{
    padding-left: 10px;
    .ScoutList_message{
      display: flex;
      align-items: center;
    }
    @include media(sm){
      padding-left: 0;
      .ScoutList_message{
        flex-direction: column;
        align-items: flex-start;
      }
      .ScoutList_messagePart{
        font-size: 1.2rem;
        padding-left: 40px;
        position: relative;
        top: -5px
      }
    }
  }

  .ScoutList_scoutInfo{
    display: flex;
    align-items: center;
    padding: 30px 20px 0;

    @include media(sm){
      flex-direction: column;
      padding: 20px 0;
    }

    .ScoutList_scoutThumb{
      width: 50px;
      height: 50px;
      overflow: hidden;
      flex-shrink: 0;
      background-position: center;
      background-size: cover;
    }
    .ScoutList_detailButton{
      flex-shrink: 0;
      margin-left: 10px;

      @include media(sm){
        margin: 20px 0 0 0;
      }
    }

    .ScoutList_workLink{
      flex-grow: 1;
      color: $blue;
      cursor: pointer;
      font-weight: bold;
      transition: $transitionBasis;
      font-size: 1.4rem;
      &:hover{
        opacity: 0.7;
      }
    }
  }

}
