.SearchList{
  margin: 0 auto;
  background: $white;
  padding: 15px;

  .SearchList_label {
    font-size: 1.4rem;
    color: gray;
    cursor: pointer;
  }

  .SearchList_tags{
    display: flex;
    flex-wrap: wrap;
  }
  .SearchList_title{
    padding-bottom: 10px;
    font-size: 1.4rem;
    .SearchList_titleText{
      display: inline-block;
      padding: 0 20px 5px 5px;
      border-bottom: 3px solid $paleBlue;
    }
  }
  .SearchList_body{
    padding: 15px 0;
    background: $white;
  }
  .SearchList_tag{
    cursor: pointer;
    transition: $transitionBasis / 2;
    &:hover{
      opacity: 0.7;
    }
  }


}
