.SearchList{
  margin: 0 auto;
  background: $white;
  z-index: $loaderZIndex - 1;
  position: fixed;
  top: $headerHeight;
  left: 0;
  right: 0;
  bottom: 0;
  transition: $transitionBasis;
  -webkit-transition: transform $transitionBasis;
  transform: translateX(100%);

  .SearchList_tags{
    display: flex;
    flex-wrap: wrap;
  }
  .SearchList_title{
    font-weight: bold;
    padding: 30px 15px;
    text-align: center;

    .SearchList_titleText{
      display: inline-block;
      padding: 0 10px;
      position: relative;
      cursor: pointer;
    }
  }
  .SearchList_body{
    padding: 15px;
    background: $white;
    transform-origin: center top;
    transform: scale3d(1, 0, 1);
    transition: $transitionBasis / 2;
  }
  .SearchList_tag{
    cursor: pointer;
    transition: $transitionBasis / 2;
    &:hover{
      opacity: 0.7;
    }
  }

  &.--open{
    transform: none;
    .SearchList_titleText::after{
      transform: translateY(-50%) rotate(180deg);
    }
    .SearchList_body{
      font-size: initial;
      transform: none;
    }
  }
}
