.Sidebar{

  .Sidebar_listBody{
    cursor: pointer;
    transition: $transitionBasis;
    padding: 10px;
    border-color: transparent;
    .Sidebar_listLabel{
      @include iconFix();
      font-size: 1.5rem;
      font-weight: bold;
      color: inherit;
      border-style: solid;
      border-width: 0 3px 0 3px;
      border-color: inherit;
    }

    &:hover{
      color: $orange;
    }
    &.--current{
      color: $orange;
      border-color: $orange;
      pointer-events: none;
    }
  }

  @include media() {
    .Sidebar_list {
      display: flex;
      align-items: center;

      .Sidebar_listItem {
        flex-grow: 1;
        width: 100%;

        .Sidebar_listBody {
          padding: 0;
        }

        .Sidebar_listLabel {
          padding: 40px 5px 5px;
          background-size: 2.4rem;
          background-position: center;
          border-width: 0 0 2px 0;
          text-align: center;
          @include media(sm-y){
            padding: 20px 5px;
            background-size: 2rem;
          }

        .Sidebar_listText {
          font-size: 1rem;
          @include media(sm-y){
            display: none;
          }
        }

      }
    }
  }

  }
}
