.Text {
    &.-fz10 {
      font-size: 1.0rem;
    }
    &.-fz12 {
      font-size: 1.2rem;
    }
    &.-fz14 {
      font-size: 1.4rem;
    }
    &.-fz16 {
      font-size: 1.6rem;
    }
    &.-fz18 {
      font-size: 1.8rem;
    }
    &.-fz20 {
      font-size: 2.0rem;
    }
    &.-fz22 {
      font-size: 2.2rem;
    }
    &.-fz24 {
      font-size: 2.4rem;
    }
    &.-fz34 {
      font-size: 3.4rem;
    }
    &.-normal {
      font-weight: normal;
    }
    &.-medium {
      font-weight: 500;
    }
    &.-bold {
      font-weight: bold;
    }

}
